@use "sass:map";
@use "../../styles/tokens" as t;
@use "../../styles/mixins" as mx;
@use "../../styles/mixins/elevation" as elev;

.my-orders-card {
  height: 230px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  border-radius: t.rad(lg);
  background-color: t.color(surface-1);

  border: 1px solid t.color(border-dark);

  @include mx.mqDown(tb) {
    height: 200px;
  }

  @include mx.mqDown(mb) {
    height: 150px;
  }

  &-header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;

    padding: t.space(4) t.space(6);

    border-bottom: 1px solid t.color(border-dark);

    @include mx.mqDown(mb) {
      padding: t.space(2) t.space(3);
    }

    & h2 {
      @include mx.fluid-text(h4);
    }

    & p {
      @include mx.fluid-text(h6);
      font-weight: t.font-weight(regular);
    }
  }

  &-body {
    width: 100%;
    flex: 1;
    min-height: 0;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    padding: t.space(5) t.space(4);

    
    @include mx.mqDown(mb) {
      padding: t.space(4) t.space(3);
      gap: t.space(2);
    }
    
    .card-description {
      display: flex;
      justify-content: space-between;
      height: 100%;

      .card-intro {
        max-width: 400px;
        display: flex;

        gap: t.space(4);

        @include mx.mqDown(tb) {
          max-width: 350px;
          gap: t.space(3);
        }

        @include mx.mqDown(mb) {
          max-width: 145px;
          gap: t.space(1);
        }

        .product-image-wrapper {
          width: 110px;
          height: 110px;

          display: flex;
          justify-content: center;
          align-items: center;

          flex-shrink: 0;
          overflow: hidden;

          @include mx.mqDown(tb) {
            width: 90px;
            height: 90px;
          }

          @include mx.mqDown(mb) {
            width: 60px;
            height: 60px;
          }
        
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        & .product-info {
          display: flex;
          flex-direction: column;

          gap: t.space(2);

          .product-title {
            @include mx.fluid-text(h6);

            @include mx.mqDown(mb) {
              @include mx.fluid-text(body);
            }
          }

          .product-desc {
            @include mx.fluid-text(body);
            font-weight: t.font-weight(regular);

            @include mx.mqDown(mb) {
              display: none;
            }
          }

          .product-category {
            @include mx.fluid-text(body);
            color: t.color(text-secondary);
            margin-top: t.space(1);

            @include mx.mqDown(mb) {
              @include mx.fluid-text(small);
            }
          }
        }
      }

      .card-qty {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: t.space(1);

        & p {
          @include mx.fluid-text(body);
          font-weight: t.font-weight(regular);
        }
      }

      .card-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: t.space(1);

        & p {
          @include mx.fluid-text(body);
          font-weight: t.font-weight(regular);
        }

        & div {
          display: flex;
          align-items: center;
          gap: t.space(1);

          & img {
            width: 20px;
            height: 20px;

            @include mx.mqDown(mb) {
              width: 15px;
              height: 15px;
            }
          }

          & p {
            @include mx.fluid-text(h6);
            font-weight: t.font-weight(regular);
            color: t.color(secondary);

            &.onSale {
              color: t.color(thirdly);
            }
          }

        }
      }
      .card-button-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
      
        .card-button {
          @include mx.button-base(ghost, sm, false);
          font-weight: t.font-weight(regular);
          border: 1px solid t.color(border-dark);
          border-radius: t.rad(lg);
          padding: t.space(2) t.space(3);
          gap: t.space(1);
      
          &:hover {
            color: t.color(white);
            background-color: t.color(thirdly);
            border: none;
          }

          @include mx.mqDown(mb) {
            @include mx.fluid-text(small);
            padding: t.space(1) t.space(2);
            gap: 0;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

  .paid {
    color: t.color(success);
  }

  .onTheWay {
    color: t.color(info);
  }

  .delivered {
    color: t.color(success);
  }

  .cancelled {
    color: t.color(danger);
  }
}
