@use "sass:map";

$radius: (
  none: 0,
  sm: 4px,
  md: 8px,
<<<<<<< HEAD
  lg: 12px,
=======
  lg: 14px,
>>>>>>> origin/main
  xl: 16px,
  2xl: 20px,
  3xl: 24px,
  full: 9999px,
);

@function rad($size) {
  @return map.get($radius, $size);
}
