@use "sass:map";

$radius: (
  none: 0,
  sm: 4px,
  md: 8px,
  lg: 12px,
  xl: 16px,
  2xl: 20px,
  3xl: 24px,
  4xl: 32px,
  5xl: 40px,
  6xl: 48px,
  full: 9999px,
);

@function rad($size) {
  @return map.get($radius, $size);
}
