@use "sass:map";
@use "../../styles/tokens" as t;
@use "../../styles/mixins" as mx;
@use "../../styles/mixins/elevation" as elev;

.header {
  background-color: t.color(white);
}
.product-page {
  padding: 0 t.space(4);
}

.product-section {
  display: grid;
  height: 50rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: t.space(7);

  @include mx.mqDown(tb) {
    height: 40rem;
    gap: t.space(5);
  }

  @include mx.mqDown(mb) {
    grid-template-columns: 1fr;
    height: auto;
    gap: 0;
  }

  .product-image-wrapper {
    grid-column: span 2;
    min-width: 0;
    padding: t.space(2xl);
    background-color: t.color(surface-3);
    display: flex;
    justify-content: center;

    .product-image {
      width: 25rem;
      display: block;
      object-fit: contain;
    }
  }

  .product-details {
    height: 100%;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: t.space(4);
    padding-right: t.space(2xl);

    @include mx.mqDown(tb) {
      padding-right: t.space(4);
    }

    @include mx.mqDown(mb) {
      padding: t.space(5) t.space(6);
      align-items: center;
      text-align: center;
    }

    .product-title-section {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .product-title {
        @include mx.fluid-text(h2);
        font-weight: map.get(t.$font-weights, regular);
        margin: 0;

        @include mx.mqDown(mb) {
          margin-right: t.space(3);
        }
      }

      .cart-button {
        & img {
          width: 32px;
          height: 32px;
        }
      }
    }

    .product-price-section {
      .product-price-container {
        .product-sales-wrapper {
          display: flex;
          align-items: center;
          gap: t.space(1);

          .product-sales-icon {
            width: 50px;
            height: 50px;
          }

          .product-new-price {
            @include mx.fluid-text(h3);
            color: t.color(thirdly);
          }

          .product-old-price {
            @include mx.fluid-text(h6);
            color: t.color(ink-500);
            text-decoration: line-through;
          }
        }
      }
    }

    .product-memory-section {
      .product-memory-button {
        @include mx.fluid-text(body);
        margin-right: t.space(3);
        padding: t.space(1) t.space(2);
        border: none;
        background-color: t.color(surface-3);
        border-radius: t.rad(lg);
        cursor: pointer;

        &.selected {
          color: t.color(white);
          background-color: t.color(primary);
        }
      }
    }

    .product-color-section {
      margin-top: t.space(1);
      .product-color-button {
        width: 52px;
        height: 52px;
        margin-right: t.space(3);
        border: 1px solid t.color(black);
        border-radius: t.rad(md);
        cursor: pointer;
        position: relative;

        & img {
          position: absolute;
          width: 36px;
          height: 36px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          overflow: hidden;
        }

        &.selected {
          border-color: t.color(primary);
        }
      }
    }

    .product-description {
      @include mx.fluid-text(body);
      color: t.color(text-ghost);
    }

    .add-to-cart-button {
      @include mx.button-base(primary, lg, true);

      & img {
        width: 42px;
        height: 42px;
      }
    }
  }
}

.product-details-section {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: t.space(7);
  margin-bottom: t.space(8);

  @include mx.mqDown(tb) {
    gap: t.space(5);
  }

  @include mx.mqDown(mb) {
    grid-template-columns: 1fr;
    gap: 0;
    padding: t.space(5) t.space(6);
  }

  .spacer {
    grid-column: span 2;
  }

  .product-details {
    grid-column: span 1;
    padding-right: t.space(2xl);
    box-sizing: border-box;

    @include mx.mqDown(tb) {
      padding-right: t.space(4);
    }

    .product-details-desc {
      margin-bottom: t.space(4);
      .details-desc-title {
        @include mx.fluid-text(h3);
        font-weight: map.get(t.$font-weights, regular);
        margin-bottom: t.space(2);
      }

      .details-desc-text {
        @include mx.fluid-text(body);
      }
    }

    .product-details-specs {
      .details-specs-title {
        @include mx.fluid-text(h3);
        font-weight: map.get(t.$font-weights, regular);
        margin-bottom: t.space(2);
      }

      .details-specs-list {
        .spec-item {
          @include mx.fluid-text(body);
          margin-bottom: t.space(1);
          display: grid;
          grid-template-columns: auto 1fr auto;
          align-items: baseline;
          column-gap: 10px;
          overflow: hidden;
        }

        .spec-name,
        .spec-value {
          @include mx.fluid-text(body);
          white-space: nowrap;
        }

        .dot-spacer {
          overflow: hidden;
          white-space: nowrap;
          position: relative;
          top: -1px;
        }

        .dot-spacer::before {
          content: "................................................................................................................................................................................................";
          letter-spacing: 2px;
          opacity: 0.45;
        }
      }
    }
  }
}

.product-recs {
  padding: t.space(3xl) t.space(2xl);

  @include mx.mqDown(tb) {
    padding: t.space(5) t.space(4);
  }

  @include mx.mqDown(mb) {
    padding: t.space(4) t.space(0);
  }

  .product-recs-title {
    @include mx.fluid-text(h2);
    margin-bottom: t.space(8);

    @include mx.mqDown(mb) {
      margin-bottom: t.space(5);
    }
  }

  .product-recs-wrapper {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: t.space(5);

    @include mx.mqDown(tb) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @include mx.mqDown(mb) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
