.card {
  width: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  border: none;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  padding: 1em;
  gap: 1em;   
}

.card-image-div {
  position: relative;
  display: flex;
  justify-content: center;
}

.like-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.card-title {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
}

.card-category {
  font-size: 12px;
  font-weight: 100;
  margin: 0;
  color: rgba(31, 41, 55, 0.8);
  font-weight: 300;
}

.card-price-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.card-price {
  font-size: 20px;
  font-weight: regular;
  border-radius: 8px;
  margin: 0;
  color: #7CAD5E;
}

.card-price.on-sale {
  color: #4FA671;
}

.card-original-price {
  font-size: 12px;
  font-weight: 400;
  text-decoration: line-through;
  color: #678487;
}

.card-buy {
  background-color: #10B981;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.8em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.7em;
}

@media (max-width: 1024px) {
  .card {
    gap: 0.5em;
  }

  .card-image {
    width: 100%;
    height: auto;
  }

  .like-icon {
    width: 14px;
    height: 14px;
  }

  .card-info {
    height: 25px;
  }

  .card-category {
    font-size: 8px;
  }
  
  .card-price-container {
    gap: 0.1em;
  }

  .card-sales-img {
    width: 12px;
    height: 12px;
  }

  .card-price {
    font-size: 12px;
  }

  .card-original-price {
    font-size: 8px;
  }

  .card-title {
    font-size: 10px;
  }
}

@media (max-width: 728px) {
  .card-buy {
    font-size: 12px;
    padding: 0.4em;
  }

  .cart-icon {
    width: 14px;
    height: 14px;
  }
}