.header {
  display: flex;
  align-items: center;
  padding: 0 5vw;
  height: 75px;
  border-bottom: 1px solid #000;
  position: sticky; 
  z-index: 1100;
  background-color: #CBE0E5;
}

.burger-button {
  display: none;
  z-index: 1100;
}

.header-logo {
  flex: 0 0 auto;
  z-index: 1100;
}

nav {
  position: static;
  transform: none;
  display: flex;
  align-items: center;
  height: auto;
}

.header-nav {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
}

.header-menu {
  display: flex;
  gap: 2vw;
  list-style: none;
  margin: 0;
  padding: 15px 0 0 0;
}

.header-buttons {
  flex: 0 0 auto;
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-buttons button {
  border: none;
  cursor: pointer;
  background: none;
  display: flex;
  justify-content: center;
}
.header-spacer {
  flex: 1 1 auto;
}

.header-search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.header-search-icon {
  position: absolute;
  left: 10px;
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.header-search {
  padding-left: 36px; 
  height: 28px;
  border-radius: 24px;
  border: 1px solid #000000;
  background-color: #CBE0E5;
}

.header-search:focus {
  outline: #000000;
  border-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-button-mob {
  display: none !important;
}

@media (max-width: 900px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  
  .header-logo {
    flex: none;
  }

  .header-buttons {
    flex: none;
  }

  .header-spacer {
    display: none;
  }

  .header-nav {
    position: relative;
    left: auto;
    top: auto;
    height: 100%;
    display: flex;
    align-items: center;
    transform: none;
  }

  .header-menu {
    padding: 0;
  }
}

@media (max-width: 728px) {
  .header {
    height: 50px;
    background-color: white;
    font-weight: bold;
    position: sticky;
    z-index: 100;
  }

  .burger-button {
    display: block;
    left: 20px;
    top: 10px;
    border: none;
    background: none;
  }

  .search-button-mob {
    display: flex !important;
  }

  .header-search-wrapper {
    position: absolute;
    z-index: 100;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    margin-top: 50px;
    left: 0;
    right: 0;
    top: 100%;
    opacity: 0;
    box-sizing: border-box;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
    will-change: transform;
    margin: 0;
  }

  .header-search-wrapper.active {
    max-height: 64px;
    opacity: 1;
    pointer-events: auto;
  }

  .header-search {
    width: 100%;
    background-color: white;
    border-radius: 5px;
  }

  .header-nav {
    position: fixed;
    z-index: 1000;
    left: -220px;
    padding-top: 50px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: flex-start;
    transform: none;
    width: 220px;
    background-color: white;
    transition: transform 0.1s linear;
  }

  .header-nav.active {
    transform: translateX(100%);
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2vw;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .header-menu li {
    padding: 1em 1.5em;
    border-bottom: 2px solid #000;
  }


}