@use "sass:map";
@use "../../../styles/tokens" as t;
@use "../../../styles/mixins" as mx;
@use "../../../styles/mixins/elevation" as elev;

.account-settings {
  padding: t.space(l) t.space(4xl);

  @include mx.mqDown(tb) {
    padding: t.space(l) t.space(l);
  }

  @include mx.mqDown(mb) {
    padding: t.space(l) t.space(6);
  }

  &-header {
    display: flex;
    flex-direction: column;
    gap: t.space(5);
    padding-bottom: t.space(4);

    .header-title-wrapper {
      display: flex;
      flex-direction: column;
      gap: t.space(2);

      .header-title {
        @include mx.fluid-text(h2);
        font-weight: t.font-weight(bold);
      }

      .header-subtitle {
        @include mx.fluid-text(body);
        color: t.color(text-secondary);
        font-weight: t.font-weight(regular);
      }
    }

    & img {
      width: 60px;
      height: auto;

      @include mx.mqDown(tb) {
        width: 50px;
      }

      @include mx.mqDown(mb) {
        width: 40px;
      }
    }
  }

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .account-settings-form {
      display: flex;
      flex-direction: column;
      gap: t.space(6);

      @include mx.mqDown(tb) {
        gap: t.space(5);
      }

      @include mx.mqDown(mb) {
        gap: t.space(4);
      }

      .account-settings-form-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: t.space(6);
        gap: t.space(2);

        border: 1px solid t.color(border-dark);
        border-radius: t.rad(lg);

        @include mx.mqDown(tb) {
          padding: t.space(5);
        }

        @include mx.mqDown(mb) {
          padding: t.space(4);
        }

        &.profile-photo {
          justify-content: center;

          @include mx.mqDown(mb) {
            align-items: center;
          }

          .profile-photo-option {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mx.mqDown(mb) {
              display: flex;
              flex-direction: column;
              gap: t.space(2);
            }

            .profile-photo-option-wrapper {
              display: flex;
              align-items: center;
              justify-content: flex-start;

              gap: t.space(5);

              @include mx.fluid-text(body);
              font-weight: t.font-weight(regular);

              @include mx.mqDown(tb) {
                gap: t.space(4);
              }

              @include mx.mqDown(mb) {
                flex-direction: column;
                justify-content: center;

                gap: t.space(3);
              }

              .avatar-preview-wrapper {
                width: 80px;
                height: 80px;

                @include mx.mqDown(tb) {
                  width: 70px;
                  height: 70px;
                }

                @include mx.mqDown(mb) {
                  width: 60px;
                  height: 60px;
                }

                .avatar-preview-img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  border-radius: t.rad(full);
                  object-fit: cover;
                }
              }

              .profile-photo-option-text {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .user-name-surname {
                  @include mx.fluid-text(h5);
                  font-weight: t.font-weight(semibold);
                }

                .user-email {
                  @include mx.fluid-text(body);
                  color: t.color(text-secondary);
                }

                @include mx.mqDown(mb) {
                  align-items: center;
                }
              }
            }

            .choose-avatar-button-wrapper {
              justify-self: end;

              .choose-avatar-button {
                @include mx.button-base(ghost, sm);
                font-weight: t.font-weight(semibold);
                padding: t.space(3) t.space(7);
                border: 1px solid t.color(border-dark);
                border-radius: t.rad(md);

                @include mx.mqDown(tb) {
                  padding: t.space(3) t.space(5);
                }

                @include mx.mqDown(mb) {
                  padding: t.space(2) t.space(4);
                }
              }

              input {
                display: none;
              }
            }
          }
        }

        .account-settings-title-wrapper {
          margin-bottom: t.space(5);

          .account-settings-title {
            @include mx.fluid-text(h5);
            font-weight: t.font-weight(semibold);
          }
        }

        .name-surname-option {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: t.space(6);
        }

        .option-group {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: t.space(1);

          label {
            @include mx.fluid-text(body);
            font-weight: t.font-weight(semibold);
          }

          input {
            width: 100%;
            padding: t.space(4) t.space(3);
            border: 1px solid t.color(border-dark);
            border-radius: t.rad(md);
          }
        }

        .submit-section {
          display: flex;
          justify-content: flex-end;
          margin: t.space(5) 0 t.space(2) 0;

          .submit-section-elements {
            display: flex;
            flex-direction: column;
            align-items: center;

            gap: t.space(3);

            @include mx.mqDown(mb) {
              width: 100%;
            }

            .submit-button-wrapper {
              width: 100%;
              display: flex;
              justify-content: center;

              .submit-button {
                @include mx.button-base(primary, lg);
                @include mx.fluid-text(body);
                font-weight: t.font-weight(regular);
                width: 300px;
                height: 60px;
                padding: t.space(4) t.space(5);
                border-radius: t.rad(md);

                @include mx.mqDown(tb) {
                  width: 250px;
                  height: 50px;
                }

                @include mx.mqDown(mb) {
                  width: 100%;
                  height: 50px;
                }
              }
            }

            .submit-message-wrapper {
              height: 18px;
              display: flex;
              align-items: center;
              justify-content: center;

              p {
                @include mx.fluid-text(body);
                font-weight: t.font-weight(regular);

                justify-self: start;

                &.error-message {
                  color: t.color(danger);
                }

                &.success-message {
                  color: t.color(success);
                }
              }
            }
          }
        }

        &.account-access {
          display: grid;
          grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
          justify-content: space-between;

          .account-access-title-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: t.space(3);

            @include mx.mqDown(mb) {
              gap: t.space(2);
            }

            .account-access-title {
              @include mx.fluid-text(h5);
              font-weight: t.font-weight(semibold);
            }

            .account-access-subtitle {
              @include mx.fluid-text(body);
              color: t.color(text-secondary);
              font-weight: t.font-weight(regular);
            }
          }

          .logout-button-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: auto;
            width: auto;

            .logout-button {
              @include mx.button-base(ghost, sm);
              @include mx.fluid-text(body);
              color: t.color(danger-light);
              border-color: t.color(danger-light);
              font-weight: t.font-weight(regular);
              padding: t.space(3) t.space(l);
              border-radius: t.rad(md);

              @include mx.mqDown(tb) {
                padding: t.space(3) t.space(5);
              }

              @include mx.mqDown(mb) {
                padding: t.space(2) t.space(4);
              }

              &:hover {
                background-color: t.color(danger-light);
                color: t.color(white);
              }
            }
          }
        }
      }

      .input-error {
        height: 18px;
        display: flex;
        align-items: center;

        margin: 0;
        padding: 0;

        color: t.color(danger);
        @include mx.fluid-text(body);
        font-weight: t.font-weight(regular);
      }
    }
  }
}
