
$colors: (

  primary:   #10B981, 
  secondary: #7CAD5E,
  primary-hover: #10B981,
  primary-active: #10B981,

  success:   #16a34a,
  warning:   #f59e0b,
  danger:    #dc2626,


  ink-900:   #1F2937,
  ink-500:   #678487,
  surface:   #ffffff,
  canvas:    #ffffff,
  border:    none,

  white:     #ffffff,
  black:     #000000
);
