body {
  margin: 0;
  padding: 0;

  font-family: Helvetica;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.green-words {
  color: #10B981; /* Цвет для выделения */
}




