.collections-section {
    padding: 10em 6em;
}

.collections-section h2 {
    font-size: 36px;
    margin-bottom: 2.5em;
}

.collections-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    position: relative;
}
.collection {
    min-width: 320px;
    max-width: 50%;
    flex: 1 1 45%;
    margin: 0 auto;
    position: relative;
}

.collection:last-child {
    flex-basis: 100%;
    max-width: 100%;
}

.collection:last-child .collection-img {
    max-height: 240px;
}

.collection-bg {
    position: relative;
    width: 100%;
    display: block;
    height: auto;
    border-radius: 14px;
}

.collection-img {
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 300px;
}

.go-to-col {
    position: absolute;
    top: 0.1em;
    right: 0.2em;
    font-size: 20vh;
    color: white;
    margin: 0;
    line-height: 0.7;
}

@media (max-width: 900px) {
    .collections-section{
        padding: 6em 2em;
    }
    
    .collections-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .collection {
        max-width: 100%;
        margin: 0;
        max-height: 270px;
        overflow: hidden;
        border-radius: 14px;
    }

    .collection-bg {
        height: 340px;
        width: auto;
    }

    .collection-img {
        max-height: 270px;
    }

    .collection:last-child {
        flex-basis: 100%;
    }
}
