.products-section {
  padding: 0 6em;
}

.products-wrapper {
    margin-top: 10em;
}

.product-title {
    font-size: 36px;
    margin-bottom: 2.5em;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.card {
    background-color: #E5E7EB;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 280px;
    padding: 2em 1.5em;
    gap: 1em;   
    border: #DFD5D5 1px solid;
}

.card-image-div{
    position: relative;
    display: flex;
    justify-content: center;
    border: #DFD5D5 1px solid;
    border-radius: 10px;
}

.like-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.card-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.card-price {
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    background-color: rgba(16, 185, 129, 0.4);
    border: #10B981 1px solid;
    border-radius: 8px;
    margin: 0;
}

.card-buy {
    background-color: #4F46E5;
    color: white;
    border-radius: 8px;
    padding: 10px;
}