@use "sass:map";
@use "../../styles/tokens" as t;
@use "../../styles/mixins" as mx;
@use "../../styles/mixins/elevation" as elev;

.intro-section {
  background-color: t.color(surface-2);

  .intro-content {
    height: 825px;
    display: flex;
    justify-content: space-between;
    padding: 0 t.space(4xl);

    @include mx.mqDown(tb) {
      height: 450px;
      padding: 0 t.space(8);
    }

    @include mx.mqDown(mb) {
      height: auto;
      flex-direction: column-reverse;
      align-items: stretch;
      padding: 0;
    }

    .intro-image {
      display: flex;
      justify-content: flex-end;
      align-self: flex-end;

      @include mx.mqDown(mb) {
        justify-content: center;
        align-self: center;

        margin-top: t.space(4);
      }

      img {
        height: 590px;
        width: auto;
        object-fit: contain;

        @include mx.mqDown(tb) {
          max-height: 360px;
        }

        @include mx.mqDown(mb) {
          height: 100%;
          width: 70%;
        }
      }
    }

    .intro-text-wrapper {
      display: flex;
      flex-direction: column;
      align-self: center;

      gap: t.space(5);
      margin-top: t.space(3xl);

      font-family:
        "Space Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: map.get(t.$font-weights, bold);

      @include mx.mqDown(tb) {
        margin-top: t.space(8);
      }

      @include mx.mqDown(mb) {
        width: 100%;
        align-items: left;
        box-sizing: border-box;

        background-color: t.color(white);

        padding: t.space(6) t.space(4);
        margin: 0;
      }

      .intro-title {
        @include mx.fluid-text(h1);
        line-height: 100%;
        letter-spacing: 0;
        margin: 0;
      }

      .intro-text {
        @include mx.fluid-text(h3);
        line-height: 100%;
        letter-spacing: 0;
        margin: 0;
      }

      .intro-button {
        font-weight: map.get(t.$font-weights, bold);
        @include mx.button-base(primary, lg);
        width: 280px;

        text-transform: uppercase;
        margin: 0;

        @include mx.mqDown(mb) {
          @include mx.button-base(primary, md);
          width: 140px;
          height: 40px;
        }
      }
    }
  }
}

.features-section {
  display: flex;
  justify-content: center;

  padding: t.space(3xl) t.space(4xl) 0 t.space(4xl);
  gap: t.space(7);

  @include mx.mqDown(tb) {
    flex-wrap: wrap;
    padding: t.space(2xl) t.space(8) 0 t.space(8);
  }

  @include mx.mqDown(mb) {
    width: 100%;
    max-width: 100%;

    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
    gap: 0;

    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .feature {
    position: relative;
    box-sizing: border-box;

    @include mx.mqDown(tb) {
      min-width: 320px;
      max-width: 50%;

      flex: 1 1 45%;

      margin: 0 auto;

      &:last-child {
        flex-basis: 100%;
        max-width: 100%;

        h2 {
          top: 50%;
          margin: 0;
          transform: translateY(-50%);
        }

        .feature-img {
          width: auto;
          right: 0;
          left: unset;
          transform: none;
        }
      }

      @include mx.mqDown(mb) {
        max-width: 100%;
        min-width: 100%;

        box-sizing: border-box;

        margin: 0;
        padding: 0;

        flex: 0 0 100%;

        scroll-snap-align: start;

        &-go-to-img {
          right: t.space(5);
        }

        &:last-child h2 {
          top: 30%;
          margin: 0;
          transform: translateY(-50%);
        }

        .green-words br {
          display: none;
        }
      }
    }

    &-go-to-img {
      position: absolute;
      top: t.space(6);
      right: t.space(l);

      @include mx.mqDown(tb) {
        right: t.space(4);
        top: t.space(4);
      }
    }

    &-img {
      max-height: 61%;
      width: 100%;

      position: absolute;

      left: 50%;
      bottom: 0;

      transform: translateX(-50%);
      object-fit: contain;
    }

    h2 {
      width: 75%;
      @include mx.fluid-text(h1);
      line-height: map.get(t.$line-heights, tight);
      color: t.color(white);

      position: absolute;
      top: calc(t.space(2xl) - t.space(3));
      left: 0;

      word-break: break-word;
      white-space: normal;

      @include mx.mqDown(tb) {
        top: t.space(7);
      }

      @include mx.mqDown(mb) {
        top: t.space(2xl);
      }
    }

    & > img:first-child {
      width: 100%;
      height: auto;

      display: block;
      border-radius: t.rad(lg);

      @include mx.mqDown(tb) {
        max-height: 450px;
        display: block;
        object-fit: cover;
      }

      @include mx.mqDown(mb) {
        border-radius: 0;
      }
    }

    & > h3 {
      font-size: 200px;
      color: t.color(white);
      line-height: map.get(t.$line-heights, super-tight);

      position: absolute;

      bottom: 0;
      right: -0.1em;
      margin: 0;

      @include mx.mqDown(tb) {
        font-size: 150px;
      }
    }
  }
}

.products-section {
  padding: 0 t.space(4xl);

  @include mx.mqDown(tb) {
    padding: 0 t.space(8);
  }

  @include mx.mqDown(mb) {
    padding: 0 t.space(5);
  }

  .products-wrapper {
    margin-top: t.space(3xl);

    @include mx.mqDown(mb) {
      margin-top: calc(t.space(2xl) - t.space(4));
    }

    .product-title {
      @include mx.fluid-text(h3);
      margin-bottom: t.space(7);

      @include mx.mqDown(mb) {
        margin-bottom: t.space(5);
      }
    }

    .products-list {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: t.space(5);

      @include mx.mqDown(tb) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }

      @include mx.mqDown(mb) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }
}

.collections-section {
  padding: t.space(3xl) t.space(4xl);

  @include mx.mqDown(tb) {
    padding: t.space(2xl) t.space(8);
  }

  @include mx.mqDown(mb) {
    padding: t.space(xl) t.space(5);
  }

  h3 {
    @include mx.fluid-text(h3);
    margin-bottom: t.space(5);
  }

  .collections-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    gap: t.space(8);

    @include mx.mqDown(tb) {
      flex-direction: column;
      align-items: center;

      gap: t.space(4);
    }

    .collection {
      min-width: 320px;
      max-width: 50%;
      position: relative;

      flex: 1 1 45%;

      margin: 0 auto;

      @include mx.mqDown(tb) {
        max-width: 100%;
        max-height: 270px;

        margin: 0;

        overflow: hidden;

        border-radius: t.rad(lg);
      }

      @include mx.mqDown(mb) {
        min-width: unset;
        max-width: 100%;
        max-height: 240px;

        margin: 0;

        overflow: hidden;

        border-radius: t.space(lg);
      }

      &:last-child {
        max-width: 100%;
        flex-basis: 100%;

        @include mx.mqDown(tb) {
          flex-basis: 100%;
        }

        .collection-img {
          max-height: 240px;

          @include mx.mqDown(mb) {
            max-height: 200px;
          }
        }
      }

      .collection-bg {
        width: 100%;
        height: auto;

        display: block;
        position: relative;

        border-radius: t.rad(lg);

        @include mx.mqDown(tb) {
          height: 340px;
          width: auto;
        }

        @include mx.mqDown(mb) {
          height: 300px;
          width: auto;
        }
      }

      .collection-img {
        max-height: 300px;
        position: absolute;

        left: 0;
        bottom: 0;

        @include mx.mqDown(tb) {
          max-height: 270px;
        }

        @include mx.mqDown(mb) {
          max-height: 220px;
        }
      }

      .go-to-col {
        position: absolute;

        font-size: 200px;
        line-height: map.get(t.$line-heights, super-tight);
        color: t.color(white);

        top: 0.1em;
        right: 0.1em;
        margin: 0;

        @include mx.mqDown(tb) {
          width: 150px;
        }

        @include mx.mqDown(mb) {
          width: 100px;
        }
      }
    }
  }
}
